<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head profile="http://gmpg.org/xfn/11">
<title>IPO On boarding Portal</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="stylesheet" href="../styles/index.css" type="text/css" />
<link rel="stylesheet" href="../styles/bootstrap.min.css"
	type="text/css" />
<link rel="stylesheet" href="../styles/bootstrap-grid.min.css"
	type="text/css" />
<link rel="stylesheet" href="../styles/bootstrap-reboot.min.css"
	type="text/css" />
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<script src="../scripts/bootstrap.min.js" />
</head>

<body id="top">
	<header id="header"
		class="fixed-top d-flex align-items-center shadow-lg p-3 mb-5 bg-white rounded">
	<div class="container d-flex justify-content-between">

		<h1 class="logo me-auto">
			<a href="index.html"><img src='../images/axis.png' width="60"
				height="60" class="d-inline-block align-bottom" alt="" /> AXIS
				Merchant Onboarding Portal</a>

		</h1>

		<!-- .navbar -->
		<nav id="navbar" class="navbar ">
		<ul>
			<li><b>Welcome,Sakshi!</b></li>
			<li><a href="contact.html" class="btn btn-link">Sign Out<i
					class="bi bi-box-arrow-right"></i></a></li>
			<li><a href="contact.html" class="getstarted">Home<i
					class="fa fa-home fa-xxl"></i></a></li>

		</ul>
		<i class="bi bi-list mobile-nav-toggle"></i> </nav>
	</div>
	</header>


<!-- <body id="top">
<div class="wrapper row1">
  <div id="header" class="clear">
    <div class="fl_left">
      <h1><a th:href="@{/index}">IPO On boarding Portal</a></h1>
      <p>Merchant On boarding Portal</p>
    </div>
    <div class="fl_right">
      <ul> </ul>
    </div>
  </div>
</div> --> 
<!-- ####################################################################################################### -->

<!-- ####################################################################################################### -->
<br></br>
	<br></br>
	<br></br>
	<br></br>
	<br></br>
<div class="wrapper row2">
  <div class="rnd">
    <!-- ###### -->
    <div id="topnav">
      <ul>          
          <li class="active"><a th:href="@{/signout}">Sign Out</a></li>
      </ul>
    </div>
    <!-- ###### -->
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper row3">
  <div class="rnd">
    <div id="container" class="clear">
      <!-- ####################################################################################################### -->
       
      <form action="#" method="post">
          
          <table align="center" border="0px" width="100px">
              
              <tr>
                  <td>&nbsp;</td>
                  <td><a th:href="@{/logout}">Would u like to signout completely</a></td>
              </tr>
              
          </table>
          
      </form>
                  
    </div>
    
  </div>
    
 </div>
    
</body>
    
</html>
